<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap CRUD Data Table for Database with Modal Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/admin_crud.css">

<body>
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6"><h2>Manage <b>Products</b></h2></div>
                <div class="col-sm-6">
                    <a href="#addProductForm" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Product</span></a>
                    <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
                </div>
            </div>
        </div>

        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll"></label>
                    </span>
                </th>
                <th>Product</th>
                <th>Price</th>
                <th>Discount</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Image</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="product:${products}">
                <td>
                    <span class="custom-checkbox">
                        <input type="checkbox" id="checkbox1" name="options[]" value="1">
                        <label for="checkbox1"></label>
                    </span>
                </td>
                <td>[[${product.title}]]</td>
                <td>[[${product.price}]]</td>
                <td>[[${product.discount}]]</td>
                <td>[[${product.description}]]</td>
                <td>[[${product.stock}]]</td>
                <td><img th:src="@{'/img/product_img/'+${product.image}}" width="70px" height="70px"></td>
                <td>
                    <a href="#editProductForm" class="edit" data-toggle="modal"><i class="material-icons editProduct" data-toggle="tooltip" th:data-id="${product.id}" title="Edit">&#xE254;</i></a>
                    <a href="#deleteProductForm" class="delete" data-toggle="modal"><i class="material-icons deleteProduct" data-toggle="tooltip" th:data-id="${product.id}" title="Delete">&#xE872;</i></a>
                </td>
            </tr>
            </tbody>

        </table>
<!--        <div class="clearfix">-->
<!--            <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>-->
<!--            <ul class="pagination">-->
<!--                <li class="page-item disabled"><a href="#">Previous</a></li>-->
<!--                <li class="page-item"><a href="#" class="page-link">1</a></li>-->
<!--                <li class="page-item"><a href="#" class="page-link">2</a></li>-->
<!--                <li class="page-item active"><a href="#" class="page-link">3</a></li>-->
<!--                <li class="page-item"><a href="#" class="page-link">4</a></li>-->
<!--                <li class="page-item"><a href="#" class="page-link">5</a></li>-->
<!--                <li class="page-item"><a href="#" class="page-link">Next</a></li>-->
<!--            </ul>-->
<!--        </div>-->
    </div>
</div>



<!-- Edit Modal HTML -->
<div id="addProductForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/saveProduct" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Add Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Product</label>
                        <input type="text" name="title" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" name="price" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Discount</label>
                        <input type="number" name="discount" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Stock</label>
                        <input type="text" name="stock" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" name="file" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div id="editProductForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/admin/editProduct" method="post" class="" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <input type="number" name="id" class="idProduct" style="visibility: hidden;">
                    <div class="form-group">
                        <label>Product</label>
                        <input type="text" name="title" class="form-control title" required>
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" name="price" class="form-control price" required>
                    </div>
                    <div class="form-group">
                        <label>Discount</label>
                        <input type="number" name="discount" class="form-control discount" required>
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control description" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <label>Stock</label>
                        <input type="number" name="stock" class="form-control stock" required>
                    </div>
                    <div class="form-group">
                        <label>Image</label>
                        <input type="file" name="file" class="form-control file" required>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Modal HTML -->
<div id="deleteProductForm" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Product</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <a type="submit" class="btn btn-danger" id="linkDeleteProduct" >Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>


<th:block th:if="${session.successMsg}">
    <p class="text-success fw-bold">[[${session.successMsg}]]</p>
    <th:block ></th:block>
</th:block>

<th:block th:if="${session.errorMsg}">
    <p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
    <th:block ></th:block>
</th:block>

<script src="/js/crud.js"></script>
<script>
    let classDeleteProduct = document.querySelectorAll(".deleteProduct")
    console.log(classDeleteProduct)
    classDeleteProduct.forEach(function (e)
    {
        e.addEventListener(("click"), function () {
            console.log(e)
            let productId = this.getAttribute('data-id');
            let deleteLink = document.querySelector('#linkDeleteProduct');
            deleteLink.href = '/admin/deleteProduct/' + productId;
        })
    })

    let classEditProduct = document.querySelectorAll(".editProduct")
    classEditProduct.forEach(function (e)
    {
        e.addEventListener(("click"), function () {
            let productId = this.getAttribute('data-id');
            console.log(productId)
            let url = "/api/product/" + productId
            fetch(url)
                .then(response => {
                    // Kiểm tra xem phản hồi có thành công không
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    // Chuyển đổi dữ liệu JSON từ phản hồi
                    return response.json();
                })
                .then(product => {
                    // Hiển thị thông tin sản phẩm
                    displayProductDetails(product);
                })
                .catch(error => {
                    console.error('There was a problem with your fetch operation:', error);
                });
        })
    })

    function displayProductDetails(product){
        let editProductForm = document.getElementById("editProductForm")
        let productTitle = editProductForm.querySelector(".title")
        let productPrice = editProductForm.querySelector(".price")
        let productDescription = editProductForm.querySelector(".description")
        let productDiscount = editProductForm.querySelector(".discount")
        let productStock = editProductForm.querySelector(".stock")
        let productId = editProductForm.querySelector(".idProduct")
        let productFile = editProductForm.querySelector(".file")
        console.log(productTitle)
        productTitle.value = product.title
        productPrice.value = product.price
        productDescription.innerText = product.description
        productDiscount.value = product.discount
        productStock.value = product.stock
        productId.value=product.id
    }
</script>
</body>
</html>