<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">

<section>
    <div class="viewport">
        <div class="js-scrool-content">
            <div class="bg-pattern bg-light repeat-img" style="background-image: url(/img/blog-pattern-bg.png)">
                <!-- BLOG -->
                <section class="blog-sec section" id="blog">
                    <div class="sec-wp">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="sec-title text-center mb-5">
                                        <p class="sec-sub-title mb-3">Our blog</p>
                                        <h2 class="h2-title"><span>Latest Publications</span></h2>
                                        <div class="sec-title-shape mb-4"><img src="/img/title-shape.svg" alt="" /></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="blog-box">
                                        <div class="blog-img back-img" style="
                          background-image: url(/img/blog/blog1.jpg);
                        "></div>
                                        <div class="blog-text">
                                            <p class="blog-date">1.1.2024</p>
                                            <a href="#" class="h4-title">Nước tăng lực mà bạn có thể làm ở nhà.</a>
                                            <p>
                                                Muốn một thức uống không chứa caffeine và không đường
                                                để đánh thức bạn và khiến bạn tràn đầy năng lượng? Hãy
                                                thử gừng và thảo quả này nước tăng lực sử dụng nguyên
                                                liệu dễ tìm và sẵn sàng trong giây lát. Cắt 2 lát mỏng
                                                đã gọt vỏ gừng cho vào cốc và nước ép ½ inch gừng tươi
                                                cắm rễ vào đó. Thêm ¼ thìa cà phê thảo quả xay, ¼ thìa
                                                cà phê bột nghệ bột và 1-2 muỗng cà phê mật ong (tùy
                                                theo khẩu vị) cho vào cốc và đổ đầy nước nóng vào.
                                                Gừng tăng tuần hoàn và khởi động quá trình trao đổi
                                                chất, trong khi nghệ làm tăng mức năng lượng. Bạch đậu
                                                khấu được cho là có tác dụng thúc đẩy mức năng lượng
                                                và cải thiện lưu thông.
                                            </p>
                                            <a href="#" class="sec-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="blog-box">
                                        <div class="blog-img back-img" style="
                          background-image: url(/img/blog/blog2.jpg);
                        "></div>
                                        <div class="blog-text">
                                            <p class="blog-date">10.11.2024</p>
                                            <a href="#" class="h4-title">Cơm rau củ tươi cho bữa tối</a>
                                            <p>
                                                Đun nóng dầu trong chảo xào sâu lòng. Đầu tiên, thêm
                                                lá oregano, ớt bột paprika, muối và hạt tiêu vào chảo.
                                                Tiếp theo, thêm tỏi băm, hành đỏ, ớt chuông đỏ thái
                                                nhỏ, cà rốt thái hạt lựu và đậu Hà Lan đông lạnh. Thêm
                                                lá nguyệt quế vào và nấu tất cả các nguyên liệu trong
                                                khoảng 5-6 phút. Khi rau củ đã mềm, thêm gạo đã rửa
                                                sạch vào chảo. Đổ nước dùng vào và đun sôi. Đậy nắp và
                                                nấu cơm trong 15-20 phút trên lửa nhỏ. Dùng nĩa xới
                                                cơm, lấy lá nguyệt quế ra và dùng ngay! Trang trí với
                                                thì là tươi nếu muốn.
                                            </p>
                                            <a href="#" class="sec-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="blog-box">
                                        <div class="blog-img back-img" style="
                          background-image: url(/img/blog/blog3.jpg);
                        "></div>
                                        <div class="blog-text">
                                            <p class="blog-date">6.11.2024</p>
                                            <a href="#" class="h4-title">Bánh burger gà với hai viên gà</a>
                                            <p>
                                                Đầu tiên: Chuẩn bị bánh gà. Trộn gà xay, vụn bánh mì,
                                                trứng, hành, tỏi, sốt Worcestershire, muối, tiêu và
                                                paprika trong một bát lớn. Chia thành 4 phần và nặn
                                                thành bánh. Nướng hoặc chiên bánh gà trên lửa vừa
                                                khoảng 5-6 phút mỗi mặt đến khi chín và đạt nhiệt độ
                                                165°F (75°C). Sau đó: Chuẩn bị gà viên. Nấu gà viên
                                                theo hướng dẫn trên bao bì nếu dùng mua sẵn. Nếu tự
                                                làm, chiên ngập dầu hoặc nướng đến khi vàng giòn. Cuối
                                                cùng: Lắp ráp bánh burger. Nướng nhẹ bánh mì burger.
                                                Phết mayonnaise, ketchup và mù tạt lên nửa dưới của
                                                bánh. Đặt lá xà lách, bánh gà, hai viên gà, lát cà
                                                chua và dưa chua lên. Thêm lát phô mai nếu muốn. Đặt
                                                nửa trên của bánh lên. Mẹo: Thêm sốt cay vào
                                                mayonnaise để tạo vị cay. Dùng bánh mì nguyên cám và
                                                thêm rau như bơ hoặc dưa leo để tốt cho sức khỏe. Nếu
                                                tự làm gà viên, dùng miếng ức gà nhỏ phủ bột mì, trứng
                                                và vụn bánh mì, rồi chiên hoặc nướng đến khi giòn.
                                            </p>
                                            <a href="#" class="sec-btn">Read More</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- NEWSLETTER -->
                <section class="newsletter-sec section pt-0">
                    <div class="sec-wp">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 m-auto">
                                    <div class="newsletter-box text-center back-img white-text" style="background-image: url(/img/news.jpg)">
                                        <div class="bg-overlay dark-overlay"></div>
                                        <div class="sec-wp">
                                            <div class="newsletter-box-text">
                                                <h2 class="h2-title">Subscribe our newsletter</h2>
                                                <p>Hãy gửi email cho chúng tôi để được cập nhật những chia sẻ mới nhất nhé.</p>
                                            </div>
                                            <form action="#" class="newsletter-form">
                                                <input type="email" class="form-input" placeholder="Enter your Email Here" required/>
                                                <button type="submit" class="sec-btn primary-btn">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>


        </div>
    </div>
</section>
</html>