<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<section>

    <div class="viewport">
        <div class="js-scrool-content">
            <!-- MENU -->
            <section class="book-table section bg-light">
                <div class="sec-wp">
                    <div class="container">
                        <div class="sec-title text-center mb-5">
                            <p class="sec-sub-title mb-3">Gallery</p>
                        </div>
                        <div class="row" id="gallery">
                            <div class="col-lg-10 m-auto">
                                <div class="book-table-img-slider" id="icon">
                                    <div class="swiper-wrapper">
                                        <a href="/img/bt1.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt1.jpg)"></a>
                                        <a href="/img/bt2.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt2.jpg)"></a>
                                        <a href="/img/bt3.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt3.jpg)"></a>
                                        <a href="/img/bt4.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt4.jpg)"></a>
                                        <a href="/img/bt1.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt1.jpg)"></a>
                                        <a href="/img/bt2.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt2.jpg)"></a>
                                        <a href="/img/bt3.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt3.jpg)"></a>
                                        <a href="/img/bt4.jpg" data-fancybox="table-slider" class="book-table-img back-img swiper-slide" style="background-image: url(/img/bt4.jpg)"></a>
                                    </div>

                                    <div class="swiper-button-wp">
                                        <div class="swiper-button-prev swiper-button">
                                            <i class="uil uil-angle-left"></i>
                                        </div>
                                        <div class="swiper-button-next swiper-button">
                                            <i class="uil uil-angle-right"></i>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="two-col-sec section">
                <div class="container">
                    <div class="sec-title text-center mb-5">
                        <p class="sec-sub-title mb-3">Best Seller</p>
                    </div>

                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="sec-img mt-5">
                                <img src="/img/pizza.png" alt="" />
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="sec-text">
                                <h2 class="xxl-title">Pizza rau củ(sốt bơ tỏi)</h2>
                                <p>
                                    Pizza Rau củ được làm từ đế bánh có lớp bột được nhào nặn
                                    điêu luyện kết hợp những nguyên liệu rau củ xanh tươi được
                                    lựa chọn hết sức tỉ mỉ từ những nguồn nguyên liệu chất lượng
                                    cao. Bạn sẽ bất ngờ với sự hài hoà giữa những trái ô liu đen
                                    tuyệt hảo, cà chua bi tươi ngon cùng với nấm rơm thanh đạm,
                                    phô mai Mozzarella trứ danh sẽ đem lại 1 bữa tiệc rau củ
                                    thanh mát tròn vị.
                                </p>
                                <p>Thanh Nhẹ và tinh tế. Pizza rau củ sẽ đem đến cho bạn Bữa Tiệc Rau Củ Tròn Vị</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="two-col-sec section pt-0">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 order-lg-1 order-2">
                            <div class="sec-text">
                                <h2 class="xxl-title">Set sushi đặc biệt</h2>
                                <p>
                                    19 cuộn sushi nhỏ xinh 'hội tụ' trong chiếc hộp gỗ sơn mài,
                                    mỗi cuộn là một màu sắc và hương vị riêng, từ nhạt đến đậm,
                                    từ thanh tao đến đậm đà.
                                </p>
                                <p>
                                    19 miếng Sushi được phân chia đầy đủ thành 3 loại Nigiri -
                                    Gunkan & Maki. Nigiri là những cuộn cơm nắm bằng tay, phủ
                                    lên bề mặt từng lớp cá hay hải sản gồm Akagai (sò lông), Ebi
                                    (tôm), Tamago (trứng cuộn vàng ươm), Hokkigai (sò đỏ rực
                                    rỡ), Kanikama (thanh cua), Saba (cá saba), Tako (bạch tuộc
                                    giòn dai), Ika (mực), Maguro (cá ngừ đại dương), Salmon
                                    (siêu phẩm cá hồi), Inari (đậu hũ thơm ngon), Unagi (lươn
                                    nướng đậm đà) và cá trắng chắc thịt.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 order-lg-2 order-1">
                            <div class="sec-img"><img src="/img/sushi.png" alt="" /></div>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</section>

</html>
