<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">


<section>
    <div class="viewport">
        <div class="js-scrool-content">
            <!-- BANNER -->
            <section class="main-banner" id="" home>
                <div class="js-parallax-scene">
                    <div class="banner-shape-1 w-100" data-depth="0.30">
                        <img src="/img/egg.png" alt="" />
                    </div>
                    <div class="banner-shape-2 w-100" data-depth="0.25">
                        <img src="/img/omlet rice.png" alt="" />
                    </div>
                </div>
                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner-text">
                                    <h1 class="h1-title">Chào mừng đến với nhà hàng <span>BK Foods</span></h1>
                                    <p>Chúng tôi cung cấp các món ăn ngon nhất, tươi ngon nhất và ngon nhất cho bạn. Hãy thưởng thức món ăn tuyệt vời của chúng tôi.</p>
                                    <div class="banner-btn mt-4">
                                        <a th:href="@{/product}" class="sec-btn">Xem thực đơn</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="banner-img-wp">
                                    <div
                                            class="banner-img"
                                            style="background-image: url(/img/main-b.jpg)"
                                    ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- BOOK TABLE -->
            <section class="book-table section bg-light">
                <div class="book-table-shape">
                    <img src="/img/table-leaves-shape.png" alt="" />
                </div>

                <div class="book-table-shape book-table-shape2">
                    <img src="/img/table-leaves-shape.png" alt="" />
                </div>

                <div class="sec-wp">
                    <div class="container">
                        <div class="book-table-info">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <div class="table-title text-center">
                                        <h3>Monday to Thursday</h3>
                                        <p>9:00 am - 22:00 pm</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="call-now text-center">
                                        <i class="uil uil-phone"></i>
                                        <a href="tel:+91-8866998866">+84 - 8888666666</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="table-title text-center">
                                        <h3>Friday to Sunday</h3>
                                        <p>11:00 am to 20:00 pm</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- book section -->
            <section class="book_section layout_padding">
                <div class="container">
                    <div class="heading_container">
                        <h2>
                            Book A Table
                        </h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form action="/add-booktable" enctype="multipart/form-data" method="post">
                                <div class="form_container">
                                        <div><input type="text" class="form-control" placeholder="Your Name" name="name" /></div>
                                        <div><input type="text" class="form-control" placeholder="Phone Number" name="phone" /></div>
                                        <div><input type="email" class="form-control" placeholder="Your Email" name="email"/></div>
                                        <div>
                                            <select class="form-control nice-select wide" name="number">
                                                <option value="" disabled selected>How many persons?</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                            </select>
                                        </div>
                                        <div>
                                            <input type="date" name="date" class="form-control">
                                        </div>
                                        <div class="btn_box">
                                            <button type="submit">Book Now</button>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end book section -->


            <!-- WHAT THEY SAY -->
            <section class="testimonials section bg-light">
                <div class="sec-wp">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sec-title text-center mb-5">
                                    <p class="sec-sub-title mb-3">What they say</p>
                                    <h2 class="h2-title">What our customers <span>say about us</span></h2>
                                    <div class="sec-title-shape mb-4">
                                        <img src="/img/title-shape.svg" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="testimonials-img">
                                    <img src="/img/testimonial-img.png" alt="" />
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img" style="
                              background-image: url(/img/testimonials/t1.jpg);
                            "></div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating"><span class="star-rating__fill" style="width: 85%"></span></div>
                                                </div>
                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">Vũ Ngọc Đức</h3>
                                                <p>Dịch vụ ở đây rất tốt, món ăn ngon và giá cả hợp lý.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img" style="
                              background-image: url(/img/testimonials/t2.jpg);
                            "></div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating"><span class="star-rating__fill" style="width: 80%"></span></div>
                                                </div>
                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">Nguyễn Hồng Phúc</h3>
                                                <p>
                                                    Hải sản ngon và tươi, hôm đó mình ăn các món khá quý
                                                    phái đó là tôm hùm bông, tôm mũ ni, cua huỳnh đế và
                                                    ốc hương, chưa hết 2 triệu đồng cho một mình mình
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img" style="
                              background-image: url(/img/testimonials/t3.jpg);
                            "></div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating"><span class="star-rating__fill" style="width: 89%"></span></div>
                                                </div>
                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">Nguyễn Trọng Giáp</h3>
                                                <p>
                                                    Đây quả thực là một nơi tuyệt vời để thưởng thức bữa
                                                    ăn cùng gia đình và người yêu.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="testimonials-box">
                                            <div class="testimonial-box-top">
                                                <div class="testimonials-box-img back-img" style="
                              background-image: url(/img/testimonials/t4.jpg);
                            "></div>
                                                <div class="star-rating-wp">
                                                    <div class="star-rating"><span class="star-rating__fill" style="width: 100%"></span></div>
                                                </div>
                                            </div>
                                            <div class="testimonials-box-text">
                                                <h3 class="h3-title">Nguyễn Trí Dũng</h3>
                                                <p>
                                                    Ngon, rẻ, thân thiện, sạch sẽ, view thoáng, chuyên
                                                    nghiệp là những từ tôi dành cho nhà hàng.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
</html>