<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<body>
<section>
    <div id="banner">
        <div class="box-left">
            <h2>
                <span>THỨC ĂN</span>
                <br>
                <span>THƯỢNG HẠNG</span>
            </h2>
            <p>Chuyên cung cấp các món ăn đảm bảo dinh dưỡng
                hợp vệ sinh đến người dùng,phục vụ người dùng 1 cái
                hoàn hảo nhất</p>
            <button>Mua ngay</button>
        </div>
        <div class="box-right">
            <img src="/img/img_1.png" alt="">
            <img src="/img/img_2.png" alt="">
            <img src="/img/img_3.png" alt="">
        </div>
        <div class="to-bottom">
            <a href="">
                <img src="/img/to_bottom.png" alt="">
            </a>
        </div>
    </div>

    <div id="saleoff">
        <div class="box-left">
            <h1>
                <span>GIẢM GIÁ LÊN ĐẾN</span>
                <span>45%</span>
            </h1>
        </div>
        <div class="box-right"></div>
    </div>

    <div id="comment">
        <h2>NHẬN XÉT CỦA KHÁCH HÀNG</h2>
        <div id="comment-body">
            <div class="prev">
                <a href="#">
                    <img src="/img/prev.png" alt="">
                </a>
            </div>
            <ul id="list-comment">
                <li class="item">
                    <div class="avatar">
                        <img src="/img/avatar_1.png" alt="">

                    </div>
                    <div class="stars">
                            <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                    </div>
                    <div class="name">Nguyễn Đình Vũ</div>

                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </div>
                </li>
                <li class="item">
                    <div class="avatar">
                        <img src="/img/avatar_1.png" alt="">

                    </div>
                    <div class="stars">
                            <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                    </div>
                    <div class="name">Trần Ngọc Sơn</div>

                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </div>
                </li>
                <li class="item">
                    <div class="avatar">
                        <img src="/img/avatar_1.png" alt="">

                    </div>
                    <div class="stars">
                            <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                        <span>
                                <img src="/img/star.png" alt="">
                            </span>
                    </div>
                    <div class="name">Nguyễn Trần Vi</div>

                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and
                            typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type
                            specimen book.</p>
                    </div>
                </li>
            </ul>
            <div class="next">
                <a href="#">
                    <img src="/img/next.png" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
</body>
