<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">

<section class="food_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
        <h2>Our Menu</h2>

        </div>
        <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Burger</li>
        <li data-filter=".pizza">Pizza</li>
        <li data-filter=".pasta">Pasta</li>
        <li data-filter=".fries">Fries</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza" th:each="product:${products}">
                    <div class="box">
                        <div>
                            <div class="img-box"><img th:src="@{'/img/product_img/'+${product.image}}" alt=""></div>
                            <div class="detail-box">
                                <h5>[[${product.title}]]</h5>
                                <p>[[${product.description}]]</p>
                                <div class="options">
                                    <h6>[[${product.price}]]</h6>
                                    <a th:href="@{/add-to-cart(id=${product.id})}">
                                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve"></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box"><a href="">View More</a></div>
    </div>
</section>

